.purple-highlight{
	color: #6487FF;
}

#phone-img{
	padding: 50px;
}

#solution-header{
	color: rgba(255, 255, 255, 0.6);
}

.black-background{
    background-color: black;
    z-index: -1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.oasis-icon{
	padding: 10px;
}