#connect-section{
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 700px;
    background-color: #121721;
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

#connect-icons div{
    height: 100px;
}

#connect-icons p{
    padding-top: 200px;
    opacity: 0;
}

#connect-title{
    padding-top: 120px;
    font-size: 2em;
}

#connect-section img{
    height: 60px;
}



.connect-icon {
    text-align: center;
}

#connect-icon-group {
/*    margin-top: -15px !important;*/
    justify-content: center;
}

#connect-sketch{
    margin-left: -16px;
}

#connect-sketch-holder{

    padding: 0;
    position: absolute;
    width: 100%;

    bottom: 0;
    overflow: hidden;
    z-index: -1;
    bottom: 0;
}

/*Desktop*/
@media all and (min-width: 500px) {
    #connect-sketch-holder{
            height: 260px;
    }
}

/*Phone*/
@media all and (max-width: 500px) {
    #connect-sketch{
    height: 160px;

    }
}
