.modal-header{
    background-color: #121924;
    border-bottom: none !important;
    border-radius: 20px 20px 0px 0px;
    padding: 24px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 100; 
}

.centering-modal-container{
    display: flex;
    justify-content: center;
}

/*.modal-header-hidden{
    background-color: #191C22;
    border-bottom: none !important;
    box-shadow: 0px 2px 8px rgb(0, 0, 0, 0.5);
    border-radius: 20px 20px 0px 0px;
    padding: 24px;
    position: absolute;
    width: 100%;
    top: 0;
}*/

ol{
    text-indent: -33px;
}

li{
    text-indent: -22px;
}

.adult-icon{
    width: 60%;
    object-fit: contain;
    padding-bottom: 20px;
}



.modal-title{
    text-transform: uppercase;
    font-family: 'Lato', sans-serif !important;
    font-weight: 700;
    color: #DADADB;
    letter-spacing: 2px;
    font-size: 1rem;
    padding-left: 5%;
}

.modal-content{
    border-radius: 20px;
}

.modal-backdrop
{
    background-color: rgb(100, 100, 100);
}

.modal-body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding-left: 0;
    padding-right: 0;
}

.x-btn{
    margin-top: -3px;
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 2;
    transition: 0.3s;
    right: 20px;
    
}

/*.close:hover{
    opacity: 1;
}*/

.x-btn:hover{
    opacity: 0;
    transition: 0.3s;
}

.x-hover{

    margin-top: -3px;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 20px;
    z-index: 0;
}

.close{
    opacity: 1 !important;
    padding-right: 5% !important;

/*    height: 40px;*/

}

.close:focus{
    outline:0;
}


.detail-img { 
    max-height: 500px;
    width: 100%;
    overflow: hidden;
    display: flex;
    

} 


.detail-img img { 
    width: 100%; 
    object-fit: cover; 
} 


.overview-strip{
    background-color: rgba(100, 100, 100, 0.15);

    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Lato', sans-serif !important;

}

.padding-top-10{
    padding-top: 10px;
}

.strip-title{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.strip-detail{
    margin-top: 0px;
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 0.97em; 
}

.spacer-sm{
    padding-top: 30px;
}

.spacer-md{
    padding-top: 80px;
}


.spacer-lg{
    padding-top: 130px;
}

.indent{
    padding-left: 30px;
}

.solution{
    background-color: #010202;
    margin: -10px;
}

.img-half-right{
    width:100%;
    padding-right: 0;
    object-fit: contain; 
}

.img-detail{
    width: 100%;
    object-fit: contain; 
}

.img-half-left{
    width:100%;
    padding-left: 0;
    object-fit: contain; 
}

.detail-h1{
    text-transform: uppercase;
    color: #CECFD1;
    letter-spacing: 3px;
    font-size: 1.6em;
    opacity: 0.7;

}

.detail-h2{
    color: #A2F1FF;
    text-transform: uppercase;
    font-size: 1.1em; 
    font-weight: 700;
    letter-spacing: 1px;

    overflow-x: visible;
}

.detail-h2-line{
    width: 40px;
    height: 30px;
    margin-top: 5px;
    border-top: rgba(255, 255, 255, 0.8) solid 1px;
}

.detail-h3{
    font-size: 1.7em;
    font-weight: 700;
    padding-bottom:20px;

}

.text-34{
    font-weight:400;
    font-size: 1.45em;
    padding-bottom: 10px
}

.detail-h3-half{
    font-size: 1.7em;
    font-weight: 700;
    padding-bottom:20px;
}

@media all and (min-width: 1200px) {
    .text-34-half{
        font-weight:400;
        font-size: 1.45em;
    }
}

@media all and (min-width: 900px) and (max-width: 1200px) {
    .text-34-half{
        font-weight:400;
        font-size: 1.1em;
    }
}

@media all and (max-width: 900px) and (min-width: 300px) {
    .text-34-half{
        font-weight:400;
        font-size: 1em;
    }
}




@media all and (min-width: 1100px) {
    .italic-24-half{
        font-weight:400;
        font-style: italic;
        font-size: 0.95em;
    }
}

@media all and (max-width: 1100px) and (min-width: 300px) {
    .italic-24-half{
        font-weight:400;
        font-style: italic;
        font-size: 0.8em;
    }
}

.text-30{
    font-weight:400;
    font-size: 1.3em;
}

@media all and (min-width: 1200px) {
    .text-30-half{
        font-weight:400;
        font-size: 1.3em;
    }
}

@media all and (min-width: 900px) and (max-width: 1200px) {
    .text-30-half{
        font-weight:400;
        font-size: 1em;
    }
}

@media all and (max-width: 900px) and (min-width: 300px) {
    .text-30-half{
        font-weight:400;
        font-size: 0.9em;
    }
}

iframe{
    width:100% !important;
}

.modal-footer{
    justify-content: center;
    padding: 30px;
    border-top: solid 1px #20262F;
}

.img-fit{
    object-fit: contain;
}

.italic-24 {
    font-weight:400;
    font-style: italic;
    font-size: 0.95em;
}

.text-24 {
    font-weight:400;
    font-size: 0.95em;
}

.text-20 {
    font-weight:400;
    font-size: 0.9em;
}

.line-height-46{
    line-height: 2.1;
}

.footer-close{
    border-radius: 20px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: .8rem;
    border-color:#DADADB;
}



.footer-close:hover .back-arrow{
    filter: invert(1);
    transition: .3s;
}

.back-arrow{
    height: 14px;
    width: 22px;
    margin-top: -3px;
    padding-right: 5px;
    transition: .3s;
}

/*font-family: 'Lato', sans-serif;*/