.portfolio{
    display: block;
    overflow: auto;
    min-height: 100vh;
    background-color: #121721;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    

}

.italics{
    font-style: italic;
}

.modal-lg {
    max-width: 85vw !important;
}   

.width-100{
    width:100%;
}

a{
    color: rgb(119, 170, 255);
}

.centered {
    text-align: center;
}

.carousel-inner {
    overflow: hidden;

}

.portfolio-img img { 
    height:100%; 
    width: 100%; 
    object-fit: cover; 
} 

.persona{
    padding: 20px 30px 20px 30px;
}

.close{
    color: white;
    opacity: .8;
    text-shadow: 0 1px 0 #121721 !important;
}

.close:hover{
    color: white;
    opacity: .6;
    text-shadow: 0 1px 0 #121721 !important;
}

.modal-open {
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch !important;
}

#portfolio-content{
    padding-top: 0%;
    margin-left: 50px;
    margin-right: 50px;
}

.padding-0{
    padding: 0 !important;
}

.container-fluid {
    padding: 0;
}

#nav {
    
    margin-top: 50px;
    height: 50px;
}

.navbar {
    padding-top: 2%;
    padding-left: 10px;
    padding-right: 35px;
    background-color: rgba(19, 23, 33, 0.5) !important;
    border-color:  rgba(19, 23, 33, 0.5) !important;
    box-shadow: 0px 0px !important;
}


#portfolio nav {
    margin-top: 0px;
}

.navbar-nav button {
    text-align: right;
}

/*resume button*/
.btn-outline-secondary {
    color: white;
    background-color: #121721;
    border-color: white; /*set the color you want here*/
}
.btn-outline-secondary:hover{
    color: #121721;
    background-color: white;
    border-color: #121721; /*set the color you want here*/

}

#resume{
    padding-left: 3px;
}

.portfolio-img {
    height: 80vh;
    padding: 10px;
    overflow: hidden;

}

.design-img {
    height: 40vh;
    padding: 10px;
    overflow: hidden;

}

.design-img img { 
    height:100%; 
    width: 100%; 
    object-fit: cover; 
} 

.portfolio-img img { 
    height:100%; 
    width: 100%; 
    object-fit: cover; 
} 

.twod-img {
    min-height: 100px;
    height: 50vh;

    padding: 0;
    overflow: hidden;

}

.twod-img img{
    height: 100%;

}

.thumbnail{
    padding: 20px 10px;
}

.line {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
}


ul {
  list-style: none; /* Remove default bullets */
}

ul .bullet::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: lightblue; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.spacer {
    height: 30px;
    padding-right: 0;
}

#google-carousel-inner{
    max-height: 500px !important;
    width: 100% !important;
}

.portfolio-title{
    /* references
    https://stackoverflow.com/questions/42068785/center-align-position-absolute-object-horizontally */
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: white;
}

#myModalContent{
    background-color: #121721 !important;
    color: rgba(255, 255, 255, 0.9);
}

.back{
    padding-top: 30px;
    padding-left: 30px;
}

.youtube-video{
    padding-left: 50px;
    padding-right: 50px;
}

.river-image{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.height-100{
    height: 100%;
}
}