#portfolio{
    display: block;
    overflow: auto;
    min-height: 100vh;
    background-color: #121721;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    overflow-x: hidden;

}

#portfolio-content{
    margin-left: 50px;
    margin-right: 50px;
}

.container-fluid {
    padding: 0;
}

#nav {
    margin-top: 50px;
    height: 50px;
}

.navbar {
    padding-left: 35px;
    padding-right: 35px;
    background-color: rgba(19, 23, 33, 0.5) !important;
    border-color:  rgba(19, 23, 33, 0.5) !important;
    box-shadow: 0px 0px !important;
}


#portfolio nav {
    margin-top: 0px;
}

.navbar-nav button {
    text-align: right;
}

/*resume button*/
.btn-outline-secondary {
    color: white;
    background-color: #121721;
    border-color: white; /*set the color you want here*/
}
.btn-outline-secondary:hover{
    color: #121721;
    background-color: white;
    border-color: #121721; /*set the color you want here*/

}

#resume{
    padding-left: 3px;
}

.portfolio-img {
    min-height: 100px;
    height: 31vh;

    padding: 20px;
    overflow: hidden;

}

.twod-img {
    min-height: 100px;
    height: 50vh;

    padding: 0;
    overflow: hidden;

}

.twod-img img{
    height: 100%;

}

.thumbnail{
    padding: 20px 10px;
}

.portfolio-img img {
    min-height: 100px;
    width: 100%;
}

.spacer {
    height: 30px;
    padding-right: 0;
}

.portfolio-title{
    /* references
    https://stackoverflow.com/questions/42068785/center-align-position-absolute-object-horizontally */
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: white;
}

#myModalContent{
    background-color: #121721;
    color: white;
}

.back{
    padding-top: 30px;
    padding-left: 30px;
}